html {
    box-sizing: border-box; /*so that padding doesn't add width or height to the elements*/
    font-size: 100; /*takes browser based font styles*/
}

*, *::before, *::after{
    box-sizing: inherit;
}

bod{
    margin: 0;
}